APP_ENV=stage
NODE_ENV=production
SERVICE_PORT=3000
API_CLIENT_ID=stage-api-client-id
API_CLIENT_SECRET=replace-in-stage-secret-store
TDS_CLIENT_ID=stage-tds-client-id
TDS_CLIENT_SECRET=replace-in-stage-secret-store
TUNNEL_CLIENT_ID=stage-tunnel-client-id
TUNNEL_CLIENT_SECRET=replace-in-stage-secret-store
APPROVED_TUNNEL_ENDPOINT=https://approved-tunnel.stage.example
